body {
    background-color: #282c34;
    font-family: cursive;
    text-align: center;
}
h1 {
    font-size: 75px;   
    color: #61dafb;
}
#question {
    background-color: #61dafb;
    width: 70%;
    margin-left: 15%;
    padding-bottom: 30px;
}
h2 {
    padding-top: 20px;
    font-size: xx-large;
}
p {
    font-size: larger;
}
#options {
    background-color: black;
    width: 40%;
    margin-left: 30%;
    display: block;
}
.div {
    display: block;
}
.button {
    background-color: #e0ffff;
    padding: 8px;
    width:30%;
    margin: 15px;
}